.container_main {
  width: 100%;
}

.container_main_article {
  width: 80%;
  margin: 0 auto;
}

.container_main_article > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
}

.info {
    padding: 0;
    margin: 0 0 20px 0;
    text-indent: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2.5rem;
}

.img_house {
  width: 100%;
  height: 400px;
  object-fit: none;
}

.section_slider .slider {
  max-width: 60%;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main_h2 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
}

.section_slider {
  margin-bottom: 25px;
}


